/*footer*/
footer{
    bottom: 3%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

/*button*/
.button{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button + label{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: orangered;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5em;
    letter-spacing:0.2em;
    /*width: 2.5em;*/
}

.button:focus + label,
.button + label:hover {
    background-color:orange;
}