table {
    background-color: whitesmoke; 
    padding: 0;
}

td {
    padding: 0;
    border: 0;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
}

/*.empty {}*/

.not_empty {
    background-color: whitesmoke; 
    border: 1px solid orangered;
}